@include font-face(roboto-light, Roboto-Light, 300);
@include font-face(roboto-regular, Roboto-Regular, 400);
@include font-face(roboto-medium, Roboto-Medium, 600);
@include font-face(roboto-bold, Roboto-Bold, 700);

@font-face {
    font-family: 'AGOpus_Bold';
    src: url('fonts/AGOpus_Bold.woff');
}
.agopus-bold {
    font-family: 'AGOpus_Bold';
    font-weight: 800;
}