$desktop-content-width: 1180px;

$top-toolbar-bg: #f3f7fd;
$main-menu-bg: #f9fbfe;
$consultation-bg: #f1f8fd;
$left-menu-bg: #f6faff;
$left-menu-font: #43496b;
$footer-menu-font: #43496b;

$accent-color: #005d9c;
$accent-dark-color: #51556d;
$primary-color: #007ec5; 
$light-blue: #64b0e3;
$light-blue-border: #deedff;
$light-blue-gray: #7196aa;

$blue-gray: #6f96ab;
$violet-gray: #606685;
$dark-gray: #4b4e5e;
$gray: #3e4446;
$primary-gray: #3c4549;
$light-gray: #707590;
$extra-light-gray: #72797c;