.footer {

    &__row_copyright {
        background: $top-toolbar-bg;
    }

    &__row_info {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 58px;
        max-width: $desktop-content-width;
    }

    &__copyright-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: $desktop-content-width;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 233px;

        .footer__logo {
            display: none;
        }
    }

    &__copyright {
        @extend .roboto-regular;
        font-size: 14px;
        color: $light-gray;
    }

    &__developer {
        margin-top: 5px;
    }

    & .phone {
        margin-bottom: 37px;

        &__number {
            margin-bottom: 12px;
        }

        &__title {
            letter-spacing: 1px;
        }

        &__link {
            letter-spacing: 1px;
            font-size: 24px;
        }
    }

    & .address {
        @extend .roboto-medium;
        width: 100%;
        font-size: 16px;
        color: $footer-menu-font;
        line-height: 22px;
        padding: 26px 0 30px;
        letter-spacing: .5px;
    }

    & .schedule {
        @extend .roboto-light;
        width: 100%;
        font-size: 14px;
        color: $footer-menu-font;
        line-height: 20px;
        padding-bottom: 15px;
        
        & ._underline {
            text-decoration: underline;
        }
        
        &__time {
            display: flex;
            align-items: center;
            @extend .roboto-medium;
            font-size: 18px;
            padding: 10px 0;

            & img {
                padding-right: 10px; 
            }
        }

    }

    & .social {
        width: 100%;

        &__logo_footer {
            width: 30px;
            height: 30px;
        }

        &__item:not(:first-child) {
            padding-left: 10px;
        }
    }
}

.logo {
    padding-top: 8px;
    margin-right: 35px;
    
    &_footer {
        display: flex;
        flex-direction: column;
    }
    &__img {
        margin: 0 18px 13px 0;
    }
    &__text {
        &_accent {
            @extend .agopus-bold;
            font-size: 26px;
            color: $accent-color;
        }
        &_small {
            @extend .roboto-regular;
            font-size: 13px;
            color: $gray;
        }
    }
}

.footer-menu {
    max-width: 640px;

    &_three-column {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__column {
        max-width: 200px;        
    }

    &__section {
        padding-bottom: 10px;

        & a {
            @extend .roboto-bold;
            font-size: 16px;
            color: $primary-color;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 26px;

            &:hover {
                text-decoration: underline;
            }
        }

        &+&, .footer-menu__list+& {
            padding-top: 8px;
        }
    }

    .social {
        display: none;
    }
    
    &__item:hover a {
        text-decoration: underline;
    }


    &__link {
        @extend .roboto-regular;
        font-size: 14px;
        color: $footer-menu-font;
        text-decoration: none;
        line-height: 34px;
    }

    &_one-column {
        margin-top: 30px;
        margin-bottom: 17px;

        & .footer-menu__list-columns {
            display: flex;
            justify-content: space-between;
        }
        & .footer-menu__list-columns:last-child {
            min-width: 340px;
        }
        .footer-menu__list:last-child {
            min-width: 340px;
        }
    }
}

.footer-action {

    &__button {
        @extend .roboto-bold;
        padding: 15px 26px;
        background: $primary-color;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4px 20px 4px rgba(0,0,0,0.05);
        font-size: 13px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background: $light-blue;
        }

    }
}

@media (max-width: 785px) {

    .footer {

        padding-top: 30px;

        &__row_info {
            padding: 24px 22px 0 22px;
        }

        .footer__logo {
            display: none;
        }

        &__contacts {

            align-items: flex-start;
            order: -1;

            .footer__logo {
                display: block;
                margin-top: -23px;

                .logo_footer {
                    width: 190px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .logo__img {
                    width: 115px;
                    height: 115px;
                    margin: 0 -16px 24px 0;
                
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .phone {
                margin-bottom: 28px;
                margin-top: 43px;
            }
            .phone__link {
                font-size: 20px;
            }
            .phone__number {
                margin-bottom: 7px;
            }
            .address {
                padding: 50px 0 30px;
            }
            .footer-action__button {
                font-size: 14px;
            }
            .address {
                letter-spacing: .7px;
                max-width: 180px;
            }
            .schedule {
                max-width: 180px;
            }
            .social {
                display: none;
            }

        }

        &__menu {
            padding-left: 10px;
            flex-grow: 1;
        }

        .footer-menu__column {
            max-width: 170px;
        }
    }
    .footer-menu_one-column {
        margin-top: 5px;
    }
    .footer-menu_one-column .footer-menu__list-columns {
        display: block;
    }
    .footer-menu__list+.footer-menu__list {
        padding-top: 25px;
    }
    .footer .footer__menu .social {
        display: flex;
        justify-content: center;
        padding-top: 6px;
        padding-left: 45px;
        width: auto;
    }
    .footer__copyright-container {
        margin: 0 20px;
    }
}