.header {
    &__toolbar {
        background: $top-toolbar-bg;
    }
    &__menu {
        background: $main-menu-bg;
    }
}

.top-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 6px 0;
    max-width: $desktop-content-width;

    &__accessibility {
        margin-left: auto;
        margin-right: 127px;
    }

    &__menu {
        display: none;
    }
    &__phone {
        display: none;
    }

}

.university-link {
    @extend .roboto-medium;
    font-size: 13px;
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
}

.accessibility {
    display: flex;

    &__item {
        height: 30px;
        cursor: pointer;

        &_search {
            padding-left: 35px;
        }
        &_blind {
            padding-left: 27px;
        }
    }

    &__img {
        width: auto;
        height: 100%;
    }
}

.social {
    &__item {
        float: left;

        &:not(:first-child) {
            padding-left: 8px;
        }
    }

    &__logo_header {
        width: 29px;
        height: 29px;
    }
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 22px;
    max-width: $desktop-content-width;

    &__phone {
        margin-left: auto;
        margin-right: 45px;
    }

    &__button {
        @extend .roboto-bold;
        padding: 15px 26px;
        background: $primary-color;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4px 20px 4px rgba(0,0,0,0.05);
        font-size: 13px;
        text-transform: uppercase;
        cursor: pointer;

        &:not(:first-child) {
            margin-left: 6px;
        }

        &:hover {
            background: $light-blue;
        }

    }
}

.logo {

    &_header {
        display: flex;
        align-items: center;
    }
    &__img {
        margin: 0 17px 10px 0;
    }
    &__text {
        &_accent {
            @extend .agopus-bold;
            font-size: 26px;
            color: $accent-color;
        }
        &_small {
            @extend .roboto-regular;
            font-size: 13px;
            color: $gray;
            letter-spacing: 0.4px;
        }
    }
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__title {
        @extend .roboto-medium;
        font-size: 12px;
        color: $blue-gray;
        text-transform: uppercase;
    }
    &__link {
        @extend .roboto-medium;
        font-size: 22px;
        color: $primary-gray;
        letter-spacing: 0.4px;
        text-decoration: none;
    }
}

.header-menu {
    margin: 0 auto;
    max-width: $desktop-content-width;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    &__link {
        @extend .roboto-medium;
        font-size: 16px;
        color: $primary-gray;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__arrow-icon {
        margin-left: 15px;
    }
}

@media (max-width: 785px) {

    .header {
        &__menu {
            display: none;
        }
    }

    .top-toolbar {
        padding: 7px 12px 7px 20px;

        &__university-link {
            margin-right: auto;
            margin-left: 22px;
        }

        &__social {
            display: none;
        }
        &__accessibility {
            margin: 0;
        }
        .accessibility {
            &__item_map, &__item_blind {
                display: none;
            }
        }

        &__menu {
            display: block;
        }
    }

    .header-info {
        flex-wrap: wrap;
        padding: 0px 20px;    
        margin: 10px auto 0px;    

        &__phone {
            order: 1;
            margin-top: -20px;
            margin-left: auto;
            margin-right: 0;    
        }
        .phone__title {
            display: none;
        } 
    }


}

@media (max-width: 338px) {
    .header-info__phone, .top-toolbar__university-link {
        display: none;
    }
    .top-toolbar__phone {
        display: block;
    }
    .accessibility__item_search {
        padding-left: 0px;
    }
    .top-toolbar {
        padding: 7px 7px 7px 15px;
    }
    .header-info {
        padding: 0 15px;
    }
    .logo.logo__header {
        margin-right: 0;
    }
    .logo__text_accent {
        margin-top: -9px;
    }
    .header-info__button {
        padding: 13px 8px;
        margin-top: 5px;
    }
    
}