.main-content {
    display: flex;
    justify-content: space-between;
    max-width: $desktop-content-width;
    margin: 0 auto;
    padding-top: 74px;

    &__left-column {
        width: 260px;
        padding-right: 20px;
    }

    &__right-column {
        flex-grow: 1;
        padding-left: 15px;        
    }

    .left-menu {
        width: 100%;
        border: 1px solid $light-blue-border;
        border-radius: 2px;

        &__current-section {
            display: flex;
            justify-content: space-between;
            @extend .roboto-medium;
            font-size: 14px;
            text-transform: uppercase;
            padding: 0 20px;
            color: $accent-color;
            line-height: 48px;
            letter-spacing: 1px;
            cursor: pointer;
        }

        &__item {
            text-transform: uppercase;
            padding: 14px 20px;
            background: $left-menu-bg;
            border-top: 1px solid $light-blue-border;
        
            &:hover a {
                color: $primary-color;
            }
        }
        
        &__link {
            color: $accent-color;
            text-decoration: none;
            @extend .roboto-medium;
            font-size: 13px;
            color: $left-menu-font;
            letter-spacing: 0.4px;
        }
    }

    .content {
        &__title {
            @extend .roboto-bold;
            font-size: 62px;
            color: $accent-color;
            line-height: 72px;
        }

        &__map {
            width: 100%;
            height: 515px;
            margin: 50px 0 42px;
        }

        &__address-title, &__schedule-title, &__transport-title {
            @extend .roboto-medium;
            font-size: 14px;
            line-height: 22px;
            color: $light-blue-gray;
            text-transform: uppercase;            
        }

        &__address-text, &__schedule-text, &__transport-text {
            @extend .roboto-medium;
            font-size: 16px;
            line-height: 25px;
            color: $dark-gray;
            margin-bottom: 30px;
        }

        &__transport-text {
            margin-bottom: 70px;
        }
    }

}

@media (max-width: 785px) {
    .main-content {
        padding-top: 20px;
        &__left-column {
            display: none;
        }
        &__right-column {
            -webkit-box-flex: 1;
            padding: 0 18px;
        }
        .content {
            &__title {
                font-size: 36px;
            }
            &__map {
                height: 427px;
                margin: 13px 0 30px;
            }
            &__transport-text {
                margin-bottom: 22px;
            }
        }
    }
}

@media (max-width: 338px) {
    .main-content {
        padding-top: 0px;
        &__right-column {
            padding: 0;
        }
        .content {
            &__title {
                line-height: 32px;
                font-size: 26px;
                padding-left: 11px;
            }
            &__map {
                height: 241px;
                margin: 13px 0 16px;
            }
            &__address, &__schedule, &__transport {
                padding-left: 14px;
                font-size: 14px;
            }
            &__transport-text {
                margin-bottom: 22px;
            }
            &__address-text, &__schedule-text, &__transport-text {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 786px) and (max-width: 1020px){ 
    .main-content {
        padding-left: 15px;
    }
}
